.App {
  text-align: center;
}

nav{
  width: 100%;
  height: 170px;
  background-image: url('../src/img/fondo-de-pantalla-de-la-dimension-de-dios-de-rick-y-morty-papel-pintado-1600x900_47.jpg');
  background-position:center top;
  padding-top: -32px;
  opacity: 0.8;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/***********************Component Locations********************************/

.locations {
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 180px;
  background-color: rgba(248, 248, 248, 0.164);
  border-radius: 5px;
  border: solid 2px rgb(0, 255, 0);
}

.contentThis {
  display: flex;
  justify-content: center;
  width: 100%;
  /* justify-content: space-around; */
}


.This{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pepito {
  display: flex;
  justify-content: space-around;

}

button {
  background-color: rgb(0, 255, 0);
  border-color: white;
}
input{
  background-color: rgba(248, 248, 248, 0.164);
  border-color: white;
}

.contentInputAndButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

 .contentInput {
   display: flex;
   justify-content: center;
   margin: 1px;
 }


/***********************Component Resident********************************/

.residents{
  width: 100%;
}

li{
  list-style:none;
}
.cardContainer{
  width: 100%;
  height: 200px;  
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card{
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(248, 248, 248, 0.164);
  border-radius: 5px; 
  border: solid 2px rgb(0, 255, 0);
}

.date{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
}
.date > p{
  width: 100%;
  height: 0.5rem;
  display: flex;
}
.photo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo > img{
  width: 60%;
}