nav{
  height: 20px;
  display: flex;
  padding: 8px;
  justify-content:center;
  text-align: center;
}

nav a{
  margin: 3px;
}

footer{
  display: flex;
  padding: 8px;
  justify-content:center;
  text-align: center;
}
/*****************************Home*********************************/

.Home {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/*****************************About********************************/

.About {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/*****************************Contacto********************************/

.Contact{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/*****************************Projets********************************/

.Projets{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/*****************************Tecnologies********************************/

.Tecnologies{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/********************************Team***********************************/

.Team {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}